{% block header %}
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand btn btn-primary" href="/">Accueil</a>
        <a class ="btn btn-secondary" href="/wild">Liste des séries</a>
    </nav>
</header>
{%  endblock %}